<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check Penyakit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
            div {
                background: pink;
                display: inline;
                border: 1px;
            }
    </style>
</head>
<body>
        ENTER YOUR SYMPTOMS
    <div class = "detail-left">
    <form method="POST" action="/check">
            <input type="text" value="<%= user.lastName%>" disabled><br>
             <input type="text" value="<%= user.gender%>" disabled><br>
             <input type="text" value="<%= user.birthday%>" disabled><br>
             <select name ="symptoms[]" id="symptoms">
                    <% symptomList.forEach(element => { %>
                        <option value="<%= element.dataValues.id %>"><%=  element.dataValues.name %></option>
                     <% }) %>
                        <option value="" selected>Pilih Keluhan</option>
            </select><br>
            <select name ="symptoms[]" id ="symptoms">
                    <% symptomList.forEach(element => { %>
                        <option value="<%= element.dataValues.id %>"><%=  element.dataValues.name %></option>
                    <% }) %>
                        <option value="" selected>Pilih Keluhan</option>
            </select><br>
            <select name ="symptoms[]" id ="symptoms">
                    <% symptomList.forEach(element => { %>
                        <option value="<%= element.dataValues.id %>"><%=  element.dataValues.name %></option>
                    <% }) %>
                        <option value="" selected>Pilih Keluhan</option>
            </select>
            <br>
            <button type="submit">Masukkan Data</button>
        </form>
    </div>

    <div class = "detail-right">
            <table border="1">
                <tr>
                    <th>Rx</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Diagnosis Pribadi</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Obat yang disarankan</td>
                    <td></td>
                </tr>
            </table>
    </div>
</body>
</html>